<!DOCTYPE html>
<html>
<head>
    <title>Metabase Dashboard</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }

        iframe {
            width: 100vw; /* Full viewport width */
            height: 100vh; /* Full viewport height */
            border: none; /* Remove iframe border */
        }
    </style>
</head>
<body>
    <iframe src="http://localhost:3000/public/dashboard/27f89df9-8c26-4a77-9c9a-e926640326cb"></iframe>
</body>
</html>
